@font-face {
  font-family: "helveticaneue-bold";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.woff");
}
@font-face {
  font-family: "summerloving-regular";
  src: url("../fonts/SummerLovingSolid-Regular.woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "helveticaneue-bold";
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #000000;
  text-decoration: none;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
}

h3 {
  font-size: 39px;
  font-weight: 700;
  margin-bottom: 10px;
}

.btn {
  min-height: 60px;
  min-width: 220px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border: 2px solid #000000;
}

.yellow-btn {
  background-color: #fedc3e;
}

.close-btn {
  min-height: 40px;
  min-width: 150px;
}
.close-btn:hover {
  background-color: #fedc3e;
}

.actions.clearfix {
  margin: 45px 0 35px;
}
.actions.clearfix ul {
  display: flex;
  margin: 0 -10px;
  justify-content: center;
}
.actions.clearfix ul li {
  padding: 0 10px;
}

.tabcontrol ul {
  display: none;
}
.tabcontrol .content {
  border: none;
}
.tabcontrol .content .body {
  width: 100%;
  height: 100%;
  padding: 0;
}

.container {
  max-width: 900px;
  padding: 0 50px;
  margin: 0 auto;
}

.quiz-section {
  padding: 80px 0;
}
.quiz-section .heading-block span {
  font-size: 102px;
  font-family: "summerloving-regular";
  display: block;
  word-spacing: 20px;
  font-weight: 400;
}
.quiz-section .steps-content-block .step-inner-block {
  padding: 50px 0;
  background-color: #ffeaf3;
}
.quiz-section .steps-content-block .step-inner-block.bg-blue {
  background-color: #c6f6ec !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-blue .secondary-label input:checked ~ label {
  border: 3px solid #1d6153 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-blue input:checked ~ label {
  color: #1d6153 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-blue input:checked ~ .image-block {
  border: 3px solid #1d6153 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-green {
  background-color: #e3ffc4 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-green input:checked ~ label {
  color: #4d8b07 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-green input:checked ~ .image-block {
  border: 3px solid #4d8b07 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-light-blue {
  background-color: #d3eef6 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-light-blue .secondary-label input:checked ~ label {
  border: 3px solid #1d6153 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-light-blue input:checked ~ label {
  color: #1d6153 !important;
}
.quiz-section .steps-content-block .step-inner-block.bg-light-blue input:checked ~ .image-block {
  border: 3px solid #1d6153 !important;
}
.quiz-section .steps-content-block .title-block {
  text-align: center;
  margin-bottom: 45px;
}
.quiz-section .steps-content-block .title-block.has-tooltip {
  margin-bottom: 30px !important;
}
.quiz-section .steps-content-block .title-block .tooltip-block {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  padding: 0px 15px 20px;
  background-color: #ffffff;
  align-items: flex-end;
  border-radius: 11px;
  position: relative;
}
.quiz-section .steps-content-block .title-block .tooltip-block span {
  font-size: 78px;
  font-family: "summerloving-regular";
  line-height: 1;
  margin-right: 20px;
}
.quiz-section .steps-content-block .title-block .tooltip-block p::before {
  content: "";
  width: 25px;
  height: 25px;
  background: white;
  position: absolute;
  top: -13px;
  transform: rotate(45deg);
  left: 40px;
}
.quiz-section .radio-checkbox-listing {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 10px 20px;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list .radio-checkbox-list-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list .radio-checkbox-list-inner input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list .radio-checkbox-list-inner input:checked ~ label {
  color: #bb1b60;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list .radio-checkbox-list-inner input:checked ~ .image-block {
  border: 3px solid #bb1b60;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list .radio-checkbox-list-inner label {
  order: 1;
  text-align: center;
  text-transform: uppercase;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list .radio-checkbox-list-inner .image-block {
  margin-bottom: 10px;
  border: 1px solid #363636;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list .radio-checkbox-list-inner .image-content {
  background-color: #ffffff;
  padding: 25px;
  text-align: center;
  height: 100%;
}
.quiz-section .radio-checkbox-listing .radio-checkbox-list .radio-checkbox-list-inner .image-content label {
  display: inline-block;
  margin-bottom: 10px;
}
.quiz-section .radio-checkbox-listing.two-gride {
  margin: 0 -18px -24px;
  max-width: 440px;
  margin: 0 auto;
}
.quiz-section .radio-checkbox-listing.two-gride .radio-checkbox-list {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 18px 24px;
}
.quiz-section .radio-checkbox-listing.secondary-label input:checked ~ label {
  border: 3px solid #bb1b60;
}
.quiz-section .radio-checkbox-listing.secondary-label label {
  min-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #363636;
  background-color: #ffffff;
}

.progress-bar {
  max-width: 560px;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  height: 15px;
  border: 1px solid #000000;
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
}
.progress-bar span {
  background: url(../images/progress-bar.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 0%;
  left: 0;
  top: 0;
  height: 100%;
  background-size: cover;
  max-width: 100%;
}

.modal-open {
  overflow: hidden;
}

.custom-modal {
  display: none;
  opacity: 0;
  transition: all 0.5s;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.custom-modal.visible {
  display: block;
  opacity: 1;
}
.custom-modal.visible .modal-backdrop {
  opacity: 0.3;
}
.custom-modal .modal-backdrop {
  overflow: hidden;
  background: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.custom-modal .modal-content-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  right: 0;
  overflow: auto;
  height: 100%;
}
.custom-modal .modal-content-wrapper .modal-dialog {
  max-width: 840px;
  margin: 0.5rem auto;
  z-index: 1000;
  position: relative;
  transition: transform 0.3s ease-out;
  transform: translate(0, -25%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 1rem);
  padding: 0 30px;
}
.modal-open .custom-modal .modal-content-wrapper .modal-dialog {
  transform: translate(0);
}
.custom-modal .modal-content-wrapper .modal-dialog .modal-inner-content {
  padding: 30px 50px;
  background: #fff;
  position: relative;
  text-align: center;
}
.custom-modal .modal-content-wrapper .modal-dialog .modal-inner-content .content {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 5px;
}
.custom-modal .modal-content-wrapper .modal-dialog .modal-inner-content p {
  margin-bottom: 18px;
}/*# sourceMappingURL=main.css.map */