@font-face {
    font-family: 'helveticaneue-bold';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.woff');
}

@font-face {
    font-family: 'summerloving-regular';
    src: url('../fonts/SummerLovingSolid-Regular.woff');
}
@font-face {
    font-family: 'helveticaneue-regular';
    src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
}