@font-face {
    font-family: 'helveticaneue-bold';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.woff');
}

@font-face {
    font-family: 'summerloving-regular';
    src: url('../fonts/SummerLovingSolid-Regular.woff');
}