.btn{
    min-height: 60px;
    min-width: 220px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border: 2px solid $black;
}

.yellow-btn{
    background-color: $btn-color;
}
.close-btn{
    min-height: 40px;
    min-width: 150px;

    &:hover{
        background-color: $btn-color;
    }
}
// .disable{
//     opacity: 0.6;
//     pointer-events: none;
//     cursor: default;
    

// }
.actions{
    &.clearfix{
       margin: 45px 0 35px;

        ul{
            display: flex;
            margin: 0 -10px;
            justify-content: center; 

            li{
                padding: 0 10px;
            }
        }
    }
}

.tabcontrol{
    ul{
        display: none;
    }
    .content{
        border: none;
        .body{
            width: 100%;
            height: 100%;
            padding: 0  ;
            
        }
    }
}