h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
}
h3{
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 10px;
}
