h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 18px;
}
h3{
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 24px;
    @include bp(lg-max){
        font-size: 36px;
    }
    @include bp(sm-max){
        font-size: 34px;
    }
}
