
$black: #000000;
$white: #ffffff;
$light-pink:#ffeaf3;
$dark-pink:#bb1b60;
$light-blue: #c6f6ec;
$dark-blue:#1d6153;
$light-green: #e3ffc4;
$dark-green:#4d8b07;
$blue: #d3eef6;
$btn-color: #fedc3e;
$border-color:#363636;
$transition: all 0.5s;